<div class="content-page">

    <div class="who-we-are">
        <div class="content-who-we-are">
            <span class="title-who-we-are">Quem Somos ?</span>

            <div class="body-who-we-are">
                <p>
                    Somos a BarberShop, o seu destino definitivo para cuidados masculinos de alta qualidade. Nossa equipe de profissionais experientes é apaixonada por realçar a sua beleza e confiança. Oferecemos uma variedade de serviços, incluindo cortes de cabelo, barbas precisas, combos de corte + barba, luzes para um toque de estilo e cuidados especializados com sobrancelhas. Na BarberShop, seu visual é nossa prioridade, e estamos comprometidos em oferecer um serviço excepcional a cada visita.
                    Venha experimentar o que faz da BarberShop a escolha preferida de homens que valorizam a qualidade e o estilo. Seu próximo look está a apenas uma visita de distância.
                </p>
            </div>
        </div>

        <div class="center-screen">
            <div class="img-who-we-are">
                <img src="assets/pexels-caleb-oquendo-3162022 (3).jpg" alt="img-quem-somos">
            </div>
        </div>
    </div>

    <hr>

    <app-service></app-service>
</div>