<div class="content-page">
    <h1 id="services">Serviços</h1>

    <div class="card-service">
        <div class="card-img">
            <img src="./assets/imgTeste.jpeg" alt="img-service">
        </div>
        <p id="card-service-name">Teste</p>
        <div class="card-service-body">
            <div class="card-service-price">
                <p><span>R$</span> 20.00</p>
            </div>

            <a class="btn-scheduling" href="#">Agendar</a>
        </div>

        <!--SE TIVER LOGADO EXIBE OS BOTÕES-->
        <div class="btns-admin-control">
            <a class="btn-edit" href="#">Editar</a>
            <button class="btn-delete" href="#">Deletar</button>
        </div>
    </div>
</div>